#place{
  display: flex;
  width: calc(100vw - 250px);
  min-height: calc(100vh - 80px);
  height: auto;
  margin-left: 250px;
  background-color: $info;
  padding: 15px 0;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;

  @include max-breakpoint(xs){
    width: 100%;
    margin-left: 0;
  }

  h5{
    margin-bottom: 0;
  }

  .card{
    padding: 15px;
    margin-bottom: 30px;
    height: auto;
  }

  small{
    color: red !important;
  }


  .vue-switcher-theme--bootstrap {
    &.vue-switcher-color--primary {
      div {
        background-color: lighten($primary, 10%);

        &:after {
          // for the circle on the switch
          background-color: darken($primary, 5%);
        }
      }

      &.vue-switcher--unchecked {
        div {
          background-color: lighten($primary, 30%);

          &:after {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
  }
}

/** AUTH **/
#login{
  display: flex;
  background-color: $info;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 101;

  .form-body{
    position: relative;

    .form-header{
      background-color: $primary;
      padding: 15px;
      color: white;
      text-align: center;
      font-size: 18px;
    }

    form{
      display: block;
      width: 450px;
      height: auto;
      background-color: white;
      padding: 15px;

      small{
        color: red !important;
      }

      button{
        color: white;
      }
    }
  }
}

.table-hover{

  svg{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

footer{
  position: relative;
  bottom: 0;
  display: block;
  width: calc(100vw - 250px);
  height: 20px;
  background-color: $primary;
  color: white;
  text-align: center;
  margin: 0 0 0 250px;
  padding: 0;

  p{
    margin-bottom: 0;
    font-size: 13px;
  }
}